<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>510968872855-uvmkib941l4mhlsr1301rrquu0207g7c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.510968872855-uvmkib941l4mhlsr1301rrquu0207g7c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>510968872855-occ421kkt9nvcq9dg2utasnoteuiuamq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAqTblugCtrJJ4f27EB5PMs6QazuGFnjFY</string>
	<key>GCM_SENDER_ID</key>
	<string>510968872855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.trustworky.trustworky</string>
	<key>PROJECT_ID</key>
	<string>trustworkyflutterfire</string>
	<key>STORAGE_BUCKET</key>
	<string>trustworkyflutterfire.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:510968872855:ios:80da8475a483f7cc938ed2</string>
	<key>DATABASE_URL</key>
	<string>https://trustworkyflutterfire.firebaseio.com</string>
</dict>
</plist>